# IS 362 – Project 3

Your assignment involves combining information from a number of SQL tables,
then displaying the information in a pandas DataFrame.

In [1]:
import mysql.connector as sql
import pandas as pd

sql_connection = sql.connect(host='127.0.0.1', database='chinook', user='root', password='Modem411')

sql_query = ("SELECT \
                customer.LastName AS 'LastName', \
                customer.FirstName AS 'FirstName', \
                track.Name AS 'Name', \
                album.Title AS 'Title' \
                FROM customer \
                JOIN invoice \
                    ON customer.CustomerId = invoice.CustomerId \
                JOIN invoiceline \
                    ON invoice.InvoiceId = invoiceline.InvoiceId \
                JOIN track \
                    ON invoiceline.TrackId = track.TrackId \
                JOIN Album \
                    ON track.AlbumId = Album.AlbumId \
                ORDER BY customer.LastName, album.Title ASC, track.name ASC")
customer_songs = pd.read_sql(sql_query, sql_connection)

In [2]:
customer_songs

        LastName FirstName                     Name             Title
0        Almeida   Roberto        Burden In My Hand           A-Sides
1        Almeida   Roberto                   Flower           A-Sides
2        Almeida   Roberto        Jesus Christ Pose           A-Sides
3        Almeida   Roberto  The Day I Tried To Live           A-Sides
4        Almeida   Roberto                    Dance     Ace Of Spades
...          ...       ...                      ...               ...
2235  Zimmermann      Fynn         I Still Love You  Unplugged [Live]
2236  Zimmermann      Fynn          Nothin' To Lose  Unplugged [Live]
2237  Zimmermann      Fynn       Amanhã Não Se Sabe       Volume Dois
2238  Zimmermann      Fynn                 Eu E Ela       Volume Dois
2239  Zimmermann      Fynn            Sonifera Ilha       Volume Dois

[2240 rows x 4 columns]